{
    "tg_API_token": "your_token",
    "horoscope_settings":
    {
        "chatgpt_api_key": "your_chatgpt_api_key",
        "prompt": "your_chatgpt_prompt",
        "cute_gm_text": "your_cute_gm_text",
        "target_chat_id": "your_tg_chat_id"
    },
    "med_reminder": 
    {
        "med_reminder_text": "your_text",
        "med_taken_label": "your_label",
        "med_taken_response": "your_msg",
        "med_taken_edit_message": "your_msg",
        "target_chat_id": "your_tg_chat_id"
    }
}